.clickableLinks{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    display: flex;
}

#imgDisplayer{
    width:100%;
}

h1{
    text-align: center;
}

.mainContent{
  margin: 10px 100px;  
  text-align: center;
}

.prevDiv ul,.slideNumbers ul{
    text-align: left;
    padding: 0;
}

#ul1 li{
    margin: 0 5px;
}
